{% if user1 != user2 %}
    {% extends "layout_other.html" %}
{%else%}
{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %} 
{% endif %} 

{% block title %}View Session{% endblock %} {% block
content %}
<div class="box">

<table> 
    <thead> 
    <tr> 
        <th>Name</th> 
        <th>Value</th>
        <th>Rep</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in data %}  
            <tr> 
                <td>{{row.FeatName}}</td>
                <td>{{row.Value}}</td>
                <td>{{row.Repetiton}}</td>
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 
{% if user1 == user2 %}
<form
  id="formElement"
  action="{{ url_for('feat_send') }}"
  method="POST"
  id="feat_send"
  class="input-group">
  
 <div> <label for="fname">Name</label>
  <input type="text" id="fname" name="fname" /> </div>
  <div><label for="value">Value</label>
  <input type="number" id="value" name="value" /></div>
  <div><label for="rep">Rep</label>
  <input type="number" id="rep" name="rep" /></div>

  <div><input type="submit" value="Submit" /></div>
</form>

<form
  id="formElement"
  action="{{ url_for('delete_session') }}"
  method="POST"
  id="comment_session"
  class="input-group">

  <input type="submit" value="Delete Session" />
</form>
{% endif %}
<form
  id="formElement"
  action="{{ url_for('comment_session') }}"
  method="POST"
  id="comment_session"
  class="input-group">
  <div><label for="comment">Comment:</label>
  <textarea rows="4" cols="50" id="comment" name="comment">
    Enter your comment here...</textarea><br><br>
  <input type="submit" value="Comment" /></div>
</form>
</div>
{% endblock %}
