{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %}
{% block title %}Add Members to Team{% endblock %} 
{% block content %} 
<div class="box">
<table> 
    <thead> 
    <tr> 
        <th></th>
        <th>Name</th>
        <th>Usernames</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in data %}  
            <tr> 
                <form id="formElement" 
                action="{{ url_for('add_member') }}"
                method="POST"
                id="add_member"
                class="input-group">
                <td><input type="checkbox" name="userid" value="{{row.UserID}}">
                        <span class="control-indicator"></span>
                      </label>
                <td>{{row.Name}}</td>
                <td>{{row.UserName}}</td>
                
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 
<input type="submit" value="Submit" />
  </form>
</div>
  
{% endblock %}
