{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %}
{% block title %}Add Statistics{% endblock %}
{% block content %}
<div class="box">
<form action="{{ url_for('stat_send') }}" method = "POST" id="stat_send" class="input-group">
    <div><label for="sdate">Session Date:</label>
    <input type="datetime-local" id="sdate" name="sdate"></div>
    <div><label for="height">Height:</label>
    <input type="number" id="height" name="height"><br><br></div>
    <div><label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight"><br><br></div>
    <div><label for="fpercent">Fat Percatage:</label>
    <input type="number" id="fpercent" name="fpercent"><br><br></div>
    <div><label for="calintake">Caloric Intake:</label>
    <input type="number" id="calintake" name="calintake"><br><br></div>
    <div><label for="scomment">Comment:</label>
    <textarea rows="4" cols="30" id="scomment" name="scomment">
Enter your comment here...</textarea><br><br></div>

<div><input type="submit" value="Submit"></div>
  </form></div>
{% endblock %}