{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %}
{% block title %}Add Session{% endblock %} {% block
content %}


  <div class="box">
    <form action="{{ url_for('session_send') }}"  method="POST"  id="session_send"  class="input-group">
      <div><label for="sdate">Session Date:</label>
      <input type="datetime-local" id="sdate" name="sdate" /></div>
      <div><label for="slen">Length:</label>
      <input type="number" id="slen" name="slen" /></div>
      <div><label for="sphoto">Progress Photo:</label>
      <input type="text" id="sphoto" name="sphoto" /></div>
      <div><label for="scomment">Comment:</label>
        <textarea rows="4" cols="30" id="scomment" name="scomment">
          Enter your comment here...</textarea><br><br></div>
      <div> <input type="submit" value="Submit" /></div>
    </form>
  </div>

{% endblock %}
