<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sport Tracking System- {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>

    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><img src="{{ url_for('static', filename='css/logo.png') }}" alt="DSports Logo" style="width:180px;height:35x;"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('main') }}">Main Page</a></li>
      <li><a href="{{ url_for('add_session') }}"> Add Sessions</a></li>
      <li><a href="{{ url_for('view_session') }}"> View Sessions</a></li>
      <li><a href="{{ url_for('add_stat') }}"> Add Statistics</a></li>
      <li><a href="{{ url_for('view_stat') }}"> View Statistics</a></li>
      <li><a href="{{ url_for('view_team') }}"> View Your Team</a></li>
      <li><a href="{{ url_for('view_subteam') }}"> View Subteam</a></li>
      <li><a href="{{ url_for('account') }}"> Manage Account</a></li>
      <li> <a href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
  </div>
</nav>

    {% block content %}{% endblock %}


    <footer class="bg-light text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>
    
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>
    
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark">DSports.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</head>
</html>
