{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %}
{% block title %}Create Team{% endblock %} 
{% block content %} 

<div class="box">
<table> 
    <thead> 
    <tr> 
        <th></th>
        <th>Name</th>
        <th>Username</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in data %}  
            <tr> 
                <td>
            
                  <td><form action="{{ url_for('change_user_temp') }}" method = "POST" id="selected_user" class="input-group">
                      <input type="radio" id="selected_user" name="selected_user" value="{{row.UserID}}" ></td>
                      <td>{{row.Name}}</td>
                      <td>{{row.Surname}}</td>
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 
<input type="submit" value="View Stats of User" />
  </form>
</div>
{% endblock %}