{% if user1 != user2 %}
    {% extends "layout_other.html" %}
{%else%}
{% if role == 1 %}
    {% extends "layout.html" %}
{% endif %} 
{% if role==2 %}
    {% extends "layout_c.html" %}
{% endif %} 
{% endif %} 

{% block title %}View Session{% endblock %}
{% block content %}
<div class="box">
<table class="data_table"> 
    <thead> 
    <tr> 
        <th></th> 
        <th>Length</th>
        <th>Progress Photo</th>
        <th>Comment</th> 
    </tr> 
    </thead> 
    <tbody> 
        {% for row in data %}  
            <tr> 
                <form id="formElement" 
                action="{{ url_for('feat') }}"
                method="POST"
                id="feat"
                class="input-group">
                <td><input type="radio" id="SessionID" name="SessionID" value="{{row.SessionID}}"></td>
                <td>{{row.Length}}</td>
                <td>{{row.ProgressPhoto}}</td>
                <td>{{row.Comment}}</td>
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 
    <input type="submit" value="Submit" />

</form></div>

{% endblock %}